.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 6rem;
  margin-top: 1rem;
}

.menu a {
  color: inherit;
  line-height: 26px;
}

.menu-item {
  display: inline-block;
  line-height: 1;
}
@media (max-width: 26em) {
  .menu-item {
    font-size: 16px;
  }
}

.menu-item:hover {
  border-bottom: 2px solid #adc2cc;
  margin-bottom: -2px;
}

.menu-home {
  flex-shrink: 0;
  font-weight: bold;
  font-size: 21px;
  width: 100%;
}

.menu-home a {
  text-decoration: none;
}

@media (min-width: 60em) {
  .menu-home {
    width: auto;
  }
}

.menu-items {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  max-width: 550px;
  padding: 0px;
}
@media (min-width: 60em) {
  .menu-items {
    margin-left: auto;
  }
}
